
.card {
    position: relative;
    z-index: 1; /* يجعل الكارد فوق أي عنصر آخر */
}

    /* Top bar */
    .top-bar {
      background-color: #333;
      font-size: 14px;
    }

    /* Navbar */
    .bg-brown {
      background-color: #4e342e;
    }

    .navbar .nav-link {
      color: #fff !important;

      margin: 0 5px;
    }
    .navbar .nav-link.active {
      font-weight: bold;
      color: #f9a825 !important;

    }

   /* Footer */
   footer {
       background-color: #2b1a14;
       color: #fff;
       padding: 60px 20px 30px;
   }

   footer h6 {
       font-weight: bold;
       margin-bottom: 20px;
   }

   footer ul {
       list-style: none;
       padding: 0;
   }

   footer ul li {
       margin-bottom: 10px;
   }

   .footer-bottom {
       background-color: #f1f1f1;
       color: #000;
       padding: 15px 20px;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       font-size: 14px;
   }
   .social-icons a {
       color: #000;
       margin-left: 10px;
       text-decoration: none;
   }

   .cause-img {
       width: 40px;
       height: 40px;
       object-fit: cover;
       border-radius: 4px;
       margin-right: 10px;
   }

   .cause-item {
       display: flex;
       align-items: center;
       margin-bottom: 15px;
   }
  .progress {
       height: 6px;
   }

   .progress-bar {
       background-color: #ffc107;
   }
